<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <title>Cyber Range Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="dashboard-bkgrd">
  <header class="dashboard-header">
    <div class="header-left">
      <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" class="logo">
    </div>
    <div class="header-center">
      <h1 class="dashboard-title">Dashboard</h1>
    </div>
    <div class="header-right">
      <a href="mailto:arosiles@hawk.illinoistech.edu">Help?</a> |<a href="{{ url_for('home') }}">Sign Out</a>
    </div>
  </header>

  <main class="dashboard-main">
    <section class="progress-section">
      <h2>Progress</h2>
        <ul>
          <li>Lab 1: 100%</li>
          <li>Lab 2: 90%</li>
          <li>Lab 3: 20%</li>
        </ul>
    </section>

    <section class="labs-grades-container">
      <section class="labs-section">
        <a href="/lab1" class="lab-link" id="lab1-link">
          <button class="lab-buttons" id="lab1">Lab 1 – Topic</button>
        </a>
        <a href="/lab2" class="lab-link" id="lab2-link">
          <button class="lab-buttons" id="lab2">Lab 2 – Topic</button>
        </a>
        <a href="/lab3" class="lab-link" id="lab3-link">
          <button class="lab-buttons" id="lab3">Lab 3 – Topic</button>
        </a>
      </section>

      <section class="grades-section">
        <a href="/grades" class="grades-link">
          <button class="grades-button">All grades</button>
        </a>
      </section>
    </section>

    <section class="sandbox-section">
      <a href="/sandbox" class="sandbox-link">
        <button type="submit" class="sandbox-button">Play in the sandbox?</button>
      </a>
    </section>

  </main>
</body>
</html>
