<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/xterm/css/xterm.css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="https://cdn.jsdelivr.net/npm/xterm/lib/xterm.js"></script>
  <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
</head>
<body class="lab-page">
  <div id="terminal"></div>
  <script>
    const term = new Terminal();
    term.open(document.getElementById('terminal'));
    const socket = io();

    term.onData(data => socket.emit('input', data));
    socket.on('output', data => term.write(data));
  </script>

    <ul>
    {% for key, value in qa.items() %}
      <li><strong>{{ key }}:</strong> {{ value }}</li>
    {% endfor %}

    {% f you want to avoid accessing keys via info.key, you can unpack the dict:
    return render_template("index.html", **data)
    Now in the template, you can use {{ hostname }} directly. %}
  </ul>
</body>
</html>