<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/xterm/css/xterm.css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>Cyber Range Lab</title>
  <script src="https://cdn.jsdelivr.net/npm/xterm/lib/xterm.js"></script>
  <script src="https://cdn.socket.io/4.8.0/socket.io.min.js"></script>
</head>
<body class="lab-page">
  {# section for the toolbar at the top of the page #}
  <header class="lab-toolbar">
    <div class="dropdown">
      <button class="dropbtn">View</button>
        <div class="dropdown-content">
          <a href="#">Zoom In</a>
          <a href="#">Zoom Out</a>
          <a href="#">Full Screen</a>
        </div>
    </div>
  <main class="lab-content">
    <section class="terminal-container">
      <div id="terminal"></div>
      <script>
        //https://www.eddymens.com/blog/creating-a-browser-based-interactive-terminal-using-xtermjs-and-nodejs.html#frontend-setup
        const term = new Terminal({ 
          cursorStyle: 'underline',   // makes cursor look like "_"
          cursorBlink: true,
          macOptionIsMeta: true,
          scrollback: true,
        });
        term.open(document.getElementById('terminal'));
        //const socket = io();
        // Connect via https as each edge node is proxying an internal connection on 5000 via 443
        const url = "https://" + "{{ edge_node_ip }}";
        console.log("Connecting to websocket on: " + url+ "...")
        const socket = io(url);
        const status = document.getElementById("status");
            
        // Handle connection
        socket.on("connect", () => {
          console.log("Connected to server, id: ", socket.id);
          console.log("For Debugging: Lab ID is: " + "{{ lab_id }}");
          term.write("Welcome to {{ lab_id }}... Execute your commands in this terminal...\r\n");
          term.write("Answer the questions in the textarea to the right...\r\n");
          term.write("Press the Enter Key to start...\r\n");
        });
        // Receive terminal output from server
        //socket.on("pty-output", (data) => {
        //  term.write(data);
        //});
        socket.on("pty-output", function (data) {
        console.log("New output received from server:", data.output);
        term.write(data.output);
        });
        // Send terminal input to server
        term.onData((data) => {
          console.log("Typing a command... " + data)
          socket.emit("pty-input", data);
        });
        // Handle disconnect
        socket.on("disconnect", () => {
          console.log("Disconnected from pyxtermjs server...");
        });
        // Handle errors
        socket.on("connect_error", (err) => {
          console.error("Connection error:", err.message);
        });
        // Catch-all listener for any incoming event -- used for debugging to 
        // see if data is being sent back
        socket.onAny((event, ...args) => {
          console.group(`📡 Event received: ${event}`);
          console.log("Payload:", args);
          console.groupEnd();
        });

      </script>
    </section>
    {# f you want to avoid accessing keys via info.key, you can unpack the dict:
    return render_template("index.html", **data)
    Now in the template, you can use {{ hostname }} directly. #}
    {# lab steps section #}
    <aside class="lab-instructions">
      <div class="instructions-titlebar">Steps / Instructions for {{ lab_id }}</div>
        
        <form action="{{ url_for('grade_lab') }}" method="post">
          <input type="hidden" name="lab_id" value="{{ lab_id }}">
          {% for key, value in loaded_lab_steps["questions"].items() %}
            <div class="lab-form-group">
              <!-- Text input box -->
              <label for="{{ key }}">{{ value }} :</label>
              <input type="text" id="{{ key }}" name="{{ key }}" required>
            </div>
          {% endfor %}
            <!-- Submit button -->
          <button type="submit">Grade Lab</button>
        </form>
        <div id="grade"></div>
          <script>
            const gradeDiv = document.getElementById("grade");
            const totalCorrect = "{{ t }}";
            const numQuestions = "{{ noa }}";
            const gradePercent = "{{ grade_percent }}";

            if (gradePercent) { 
                gradeDiv.innerHTML = 
                    `<p>Number of Questions: ${numQuestions}</p>` +
                    `<p>Number of Correct Answers: ${totalCorrect}</p>` +
                    `<p><strong>Your Grade is: ${gradePercent}%</strong></p>`;
            }
          </script>

          <a href="{{ url_for('destroy_lab', lab_id=lab_id, launch_id=launch_id ) }}" class="" id="destroy-link">Destroy Lab and Return to Dashboard</a>
           

      </aside>
      <div name="instructions">
          {# Section to determine if lab will print out IPs as expected, remove if fails #}
          Lab Instructions: {{ loaded_lab_steps["instructions"].instructions }}
          <br />
          Edge VM: {% for vm in edge_vm %}
              <code>{{ vm.name }}</code>: <code>{{ vm.ip }} </code>
              {% endfor %}
            Lab Nodes:
              {% for vm in non_edge_vms %}
              <code> {{ vm.name }}</code>: <code>{{ vm.ip }}</code>
              {% endfor %}
    </div>
    </main>
</body>
</html>
