<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/xterm/css/xterm.css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>Cyber Range Lab</title>
  <script src="https://cdn.jsdelivr.net/npm/xterm/lib/xterm.js"></script>
  <script src="https://cdn.socket.io/4.8.0/socket.io.min.js"></script>
</head>
<body class="lab-page">
  {# section for the toolbar at the top of the page #}
  <header class="lab-toolbar">
    <div class="dropdown">
      <button class="dropbtn">View</button>
        <div class="view-dropdown-content">
          <a href="#">Zoom In</a>
          <a href="#">Zoom Out</a>
          <a href="#">Full Screen</a>
        </div>
    </div>
  <main class="lab-content">
    <section class="terminal-container">
      <div id="terminal"></div>
      <script>
          // 1. Create the terminal
          const term = new Terminal();
          term.open(document.getElementById("terminal"));

          // 2. Connect to pyxtermjs backend via raw WebSocket
          // Replace host/port with your pyxtermjs server
          const url = "wss://" + "{{ edge_node_ip }}" + "/";
          const ws = new WebSocket(url);

          // 3. When backend sends data, write it to the terminal
          ws.onmessage = (event) => {
            term.write(event.data);
          };

          // 4. When user types in terminal, send input to backend
          term.onData((data) => {
            ws.send(data);
          });

          // 5. Handle connection lifecycle
          ws.onopen = () => term.write("\r\n*** Connected to pyxtermjs ***\r\n");
          ws.onclose = () => term.write("\r\n*** Disconnected ***\r\n");
      </script>
    </section>

    {# f you want to avoid accessing keys via info.key, you can unpack the dict:
    return render_template("index.html", **data)
    Now in the template, you can use {{ hostname }} directly. #}
    {# lab steps section #}
    <aside class="lab-instructions">
      <div class="instructions-titlebar">Steps / Instructions</div>
        <form action="{{ url_for('grade_lab') }}" method="post">
          <input type="hidden" name="{{ lab_id }}" value="{{ lab_id }}">
          <label for="Labname">{{ lab_id }}</label><br />
          {% for key, value in loaded_lab_steps["questions"].items() %}
            <!-- Text input box -->
            <label for="{{ key }}">{{ value }} :</label><br /> 
            <input type="text" id="{{ key }}" name="{{ key }}" required><br />
          {% endfor %}
            <!-- Submit button -->
          <input type="submit" value="Grade Lab">
        </form>  
      </aside>
    </main>
</body>
</html>
